
<a href="https://github.com/ashiksp/TaskMgrApp" class="classic_ribbon---top--right-green"> fork me on github </a>
<center>
	<p>Welcome to task manager application</p>
<p>Here you can create, view, update and delete tasks.</p>
<br><br>
<%= link_to 'Click Here to View All Tasks', tasks_path %> <br>
<%= link_to 'Click Here to create New Task', new_task_path %>
</center>

