// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #F0F0F0;	
}

#header1 {
  background-color: #fff;
  color: #990000;
  padding: 4px 100px;
  border-bottom: solid 5px #00395A;
}

#header1 h1 {
  font-size: 30px;
  
}

#footer {
  background-color: #fff;
  color: #990000;
  padding: 4px 100px;
  border-bottom: solid 5px #00395A;
}
